<html>
    <head> 
    </head>
    <body>
        <section>
            <h1 style="text-align:center; font-size:60px;"> Stream Hopper </h1> 
        </section>
        <section>
            <h3> About Us </h3>
            <p> 
                Keeping up with which streaming service has the content you want is hard. 
                Finding which streaming service is best suited to your own taste is even harder!
                <br><br>
                With the oversaturated market of streaming services, Stream Hopper is a product 
                that was designed to help consumers, like you, figure out which streaming service 
                you can drop for the month and which one you should subscribe to or keep based on your personal preference.
                <br><br>
                We will provide recommendations of which streaming service contains the best content for a user's taste. 
                This way our users can maximize their bingeing satisfaction with an optimal single subscription fee. 
            </p>
        </section>
        <section>
            <h3> Team Members </h3>
            <p> 
                Shane Buchanan<br>Dillon Quan<br>Matthew King<br>
                Lisa Chua<br>Hoda Noorian<br>Nicholas Parker<br>
                Alaa Latif<br>Shrikar Thodla<br>Sean Sturtevant
            </p>
        </section>
    </body>

</html>